.project-tile {
    display: inherit;
    flex-direction: column;
    flex: 0;
    background-color: #313131;
    align-items: center;
    border-radius: 0.375em;
    padding: 0.5em 1em;
    margin-bottom: 2.5em;
    box-shadow: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.5);
}
.project-img {
    margin-top: 0.2em;
    width: 16.875em;
    height: 9.625em;
    background-color: #fff;
    position: relative;
}
.project-img img {
    position: absolute;
    max-width: 100%;
    height: 100%;
}

/* Animation snippet */

.slide1 {
  animation: fade1 15s infinite;
}
.slide2 {
  animation: fade2 15s infinite;
}
.slide3 {
  animation: fade3 15s infinite;
}
.slide4 {
  animation: fade4 10s infinite;
}
.slide5 {
  animation: fade5 10s infinite;
}
@keyframes fade1 {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
  66.66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.33% {
    opacity: 1;
  }
  66.66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.33% {
    opacity: 0;
  }
  66.66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* End! */

.features-box {
    width: 100%;
    display: inherit;
    justify-content: center;
    margin-top: 0.5em;
}
.project-name {
    font-size: 1.125em;
    margin: 0.5em 0;
    text-align: center;
    color: var(--mycolor);
    text-decoration: none;
}
.name-fix:hover {
    text-decoration: underline;
}
.name-fix {
    color: var(--mycolor);
    text-decoration: none;
}
.update {
    font-size: 0.75em;
    margin: 0;
    color: #fff;
}
.dash {
    width: 75%;
    border: 1px solid var(--mycolor);
}
.project-tab {
    display: inherit;
    width: 30%;
    justify-content: space-around;
}
.project-tab a {
    color: #a0a0a0;
}
.project-tab a:hover {
    color: #777;
}


@media screen and (max-width:485px) {
    .project-img {
      width: 12.5em;
      height: 7.25em;
    }
    .project-tab {
      width: 50%;
    }
  
}