.display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#menu-mobile {
    height: 100%;
    flex-direction: column;
    background-color: var(--mycolor);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
#wrapper a {
    text-decoration: none;
    font-size: 1.5em;
}
#wrapper a, #wrapper button {
    color: #fff;
}
@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}
.menu-in {
    animation: fadein 200ms;
}
.menu-out {
    animation: fadeout 200ms;
}
.movement {
    transform: translateX(-10px);
}
#close {
    transition: transform 1s;
    background-color: unset;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 2em;
    margin-bottom: 0.5em;
}
#menu-mobile ul {
    padding: 0;
    align-items: center;
    margin: 0;
}
#menu-mobile li {
    list-style: none;
    transition: transform 1s;
    margin: 0.8em 0;
}