.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.5em;
    color: #a0a0a0;
}
.social a {
    text-decoration: none;
    color: inherit;
}
.dummy {
    cursor: pointer;
}
.social a:hover, .social .dummy:hover {
    color: #777;
}
.fix {
    font-size: 1.25em;
}

@media screen and (max-width: 925px) {
    .social {
        display: inherit;
        flex: 0 0 50%;
        padding: 0;
    }
    .social .fix {
        color: #222!important;
    }
}

@media screen and (max-width:485px) {
    .social {
        width: 80%;
    }
}