#navbar .under {
    display: initial
}
.content .under {
    display: none
}
.footer {
    background-color: #222;
    color: #fafafa;
    padding: 0.5em 0;
    margin-top: 1em !important;
    text-transform: lowercase;
}
.under p {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 925px) {
    #navbar .under {
        display: none
    }
    .content .under {
        display: flex;
        flex-direction: row-reverse;
        background-color: #222;
        padding: 0.5em;
        justify-content: space-around
    }
    .footer {
        right: 0;
        bottom: 0;
        left: 0;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0!important;
    }
    .footer > p {
        margin: 0;
    }
}

@media screen and (max-width:485px) {
    .content .under {
        flex-direction: column-reverse;
        align-items: center
    }
    .footer p {
        margin-bottom: 0.5em;
    }
}