.footer {
    background-color: #222;
    color: #fafafa;
    padding: 0.5em 0;
    margin-top: 1em !important;
    text-transform: lowercase;
}

@media screen and (max-width: 925px) {
    .footer {
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0!important;
    }
    .footer > p {
        margin: 0;
    }
}

@media screen and (max-width:485px) {
    
    .footer {
        flex-direction: column;
    }
    .footer p {
        margin-bottom: 0.5em;
    }
}