#upper {
    letter-spacing: 1px;
}
#upper span {
    text-transform: lowercase;
    font-weight: bold;
}
#menu {
    display: none;
}


@media screen and (max-width: 925px) {
    #upper {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0.5em 1em;
    }
    #upper p, #under {
        display: none;
    }
    #upper img {
        width: 2.25em;
        height: 2.25em;
        flex: 0;
        margin: 0;
    }
    .hamburger {
        flex: 1;
    }
}

@media screen and (max-width:485px) {
    #upper {
        justify-content: space-between;
    }
    #upper p {
        display: inline;
        font-size: 0.75em;
    }
    .hamburger {
        text-align: right;
        flex: 0;
    }
    #menu {
        display: inline;
        cursor: pointer;
        font-size: 1.5em;
        color: var(--mycolor);
        border: 0;
        background-color: unset;
        padding: 0
    }
}